/* html {
  background-color: #F2E3D5;
} */

body {
  font-family: "Spline Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  max-width: 720px;
  margin: 2rem auto;
  padding: 0 1rem;
  line-height: 1.6;
  /* color: #73473D; */
} 

/* h1, h2, h3, h4, h5, h6 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: -0.02em;
  font-weight: 400;
} */

/* a {
  text-decoration: none;
} */

nav a {
  margin-right: 1rem;
}

p {
  text-align: justify;
}

.post {
  margin-bottom: 3rem;
}

.post-meta {
  color: #666;
  font-size: 0.9rem;
}  
