---
layout: default
---
<section class="home" aria-label="Blog posts">
  <h1 class="visually-hidden">Latest posts</h1>

  {% for post in site.posts %}
    <article class="post-preview">
      <h2 class="post-preview__title">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </h2>
      <time class="post-preview__date" datetime="{{ post.date | date_to_xmlschema }}">
        {{ post.date | date: "%B %-d, %Y" }}
      </time>
      <div class="post-preview__excerpt">
        {{ post.excerpt }}
      </div>
      <a href="{{ post.url | relative_url }}" class="post-preview__read-more" aria-label="Read more: {{ post.title }}">
        Read more &rarr;
      </a>
    </article>
    {% unless forloop.last %}
      <hr class="post-separator" aria-hidden="true">
    {% endunless %}
  {% endfor %}
</section>
